<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColorsShop | Sign up</title>
    <link rel="stylesheet" href="pub/assets/styles/signin.css">
</head>
<body id="particles-js">
    
<div class="animated bounceInDown">
  <div class="container1">
    <span class="error animated tada" id="msg"></span>
    <form name="form1" class="box" onsubmit="checkStuff()">
      <h4>Colors<span>Shop</span></h4>
      <h5>Register an account.</h5>
        <input type="text" name="email" placeholder="Email" autocomplete="off">
        <input type="password" name="password" placeholder="Passsword" id="pwd" autocomplete="off">
        <input type="password" name="password" placeholder="Passsword" id="pwd" autocomplete="off">
        <label>
          
        </label>
        <a href="signin.html" class="forgetpass">Sign in</a>
        <input type="submit" value="Sign up" class="btn1">
      </form>
  </div> 
       <div class="footer">
      <span>Made with Nodemy</span>
    </div>
</div>
</body>
<script src="pub/assets/js/signin.js"></script>
</html>